@model ReflectionIT.Mvc.Paging.PagingList<LanchesMac.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h3>Pedidos</h3>

<form method="get" class="form-inline">
    <table class="table table-responsive-md">
        <tr>
            <td class="col-9">
                <input name="filter" class="form-control" placeholder="filtro" value="@Model.RouteValue["Filter"]" />
            </td>
            <td class="col-3">
                <button type="submit" class="btn btn-primary">Procurar</button>
            </td>
        </tr>
    </table>
</form>

Total de Pedidos : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>
@*<p>
    <a asp-action="Create">Criar novo Pedido</a>
</p>*@
<table class="table table table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco1)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Endereco2)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEnviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEntregueEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco1)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Endereco2)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoEnviado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoEntregueEm)
            </td>
            <td class="col-md-3">
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.PedidoId">Editar</a>
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.PedidoId">Detalhes</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.PedidoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
