@model LanchesMac.ViewModels.PedidoLancheViewModel

@{
    ViewData["Title"] = "Pedidolanches";
    decimal totalPedido = 0;
}

<h2>Lanches do Pedido</h2>
<hr />

<h5>Pedido: @Html.DisplayFor(model => Model.Pedido.PedidoId)</h5>
<h5>Cliente: @Html.DisplayFor(model => Model.Pedido.Nome)</h5>
<h5>Data: @Html.DisplayFor(model => Model.Pedido.PedidoEnviado)</h5>
<h5>Entrega: @Html.DisplayFor(model => Model.Pedido.PedidoEntregueEm)</h5>

<table class="table">
    @foreach (var item in Model.Pedido.PedidoItens) {
        totalPedido += (item.Lanche.Preco * item.Quantidade);
        <tr>
            <td align="right">
                <h4>@Html.DisplayFor(modelItem => item.Lanche.Nome)</h4>
            </td>
            <td align="right">
                <img src="@item.Lanche.ImagemUrl" class="img-fluid" height="100" width="100">
            </td>
            <td align="right">
                <h4>@string.Format("{0:C}", item.Lanche.Preco)</h4>
            </td>
            <td align="right">
                <h4>@Html.DisplayFor(modelItem => item.Quantidade)</h4>
            </td>
        </tr>
    }
    <tr>
        <td colspan="2">&nbsp;</td>
        <td align="right">
            <h3>Total do Pedido : @string.Format("{0:C}", totalPedido)</h3>
        </td>
    </tr>
</table>
<a asp-action="Index" class="btn btn-outline-info">Retornar</a>
